.dashboard {
    min-height: 100vh;
    padding: 40px;
    background: #020617;
    color: #ffffff;
}


.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.dashboard-header input {
    width: 300px;
    padding: 12px;
    border: 1px solid #34445f;
    border-radius: 8px;

    background: #0f1b31;
    color: #ffffff;
    outline: none;
}


.dashboard-header input::placeholder {
    color: #9caac0;
}


.dashboard-header input:focus {
    border-color: #ff2635;
    box-shadow: 0 0 12px rgba(255, 38, 53, 0.2);
}


.welcome-card {
    margin: 30px 0;

    background: linear-gradient(
        135deg,
        #ff2635,
        #d80018,
        #142f57
    );

    color: white;
    padding: 30px;
    border-radius: 15px;

    box-shadow:
        0 10px 30px rgba(255, 38, 53, 0.2);
}


.stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}


.card {
    background: #0f1b31;
    padding: 25px;
    border-radius: 15px;
    text-align: center;

    border: 1px solid #34445f;

    box-shadow:
        0 10px 25px rgba(0, 0, 0, 0.35);

    transition: 0.3s;
}


.card:hover {
    border-color: #ff2635;

    box-shadow:
        0 10px 30px rgba(255, 38, 53, 0.18);

    transform: translateY(-3px);
}


.card h3 {
    color: #ff2635;
    font-size: 30px;
}


.card p {
    color: #9caac0;
}


.quick-actions {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}


.quick-actions button {
    padding: 15px 25px;
    border: none;
    border-radius: 10px;

    background: linear-gradient(
        90deg,
        #ff172d,
        #d80018
    );

    color: white;
    cursor: pointer;
    font-size: 16px;

    transition: 0.3s;
}


.quick-actions button:hover {
    transform: translateY(-2px);

    box-shadow:
        0 8px 20px rgba(255, 38, 53, 0.3);
}