.profile-page {
    min-height: 100vh;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    background: #020617;

    color: #ffffff;
}

.profile-page h1 {
    font-size: 40px;

    color: #ff2635;

    margin-bottom: 10px;
}

.profile-page p {
    font-size: 18px;

    color: #9caac0;
}