.booking-page {
    min-height: 100vh;
    background: #020617;
    padding: 60px 20px;
    color: #ffffff;
}


.booking-container {
    max-width: 1000px;
    margin: auto;

    background: #0f1b31;

    padding: 40px;

    border-radius: 15px;

    border: 1px solid #34445f;

    box-shadow:
        0 10px 30px rgba(0, 0, 0, 0.35);
}


.booking-container h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #ffffff;
}


.booking-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


.form-group {
    display: flex;
    flex-direction: column;
}


.form-group label {
    margin-bottom: 8px;
    font-weight: 600;
    color: #ffffff;
}


.form-group input {
    padding: 12px;

    border: 1px solid #34445f;

    border-radius: 8px;

    outline: none;

    background: #07111f;

    color: #ffffff;

    transition: 0.3s;
}


.form-group input::placeholder {
    color: #9caac0;
}


.form-group input:focus {
    border-color: #ff2635;

    box-shadow:
        0 0 12px
        rgba(255, 38, 53, 0.2);
}


.full-width {
    grid-column: 1 / 3;
}


.summary {
    grid-column: 1 / 3;

    background: #07111f;

    padding: 25px;

    border-radius: 10px;

    margin-top: 10px;

    border: 1px solid #34445f;
}


.summary h2 {
    margin-bottom: 20px;

    color: #ffffff;
}


.summary-item {
    display: flex;
    justify-content: space-between;

    margin-bottom: 10px;

    color: #9caac0;
}


.total {
    font-weight: bold;

    font-size: 18px;

    border-top: 1px solid #34445f;

    padding-top: 15px;

    color: #ff2635;
}


.payment-btn {
    grid-column: 1 / 3;

    padding: 15px;

    background:
        linear-gradient(
            90deg,
            #ff172d,
            #d80018
        );

    color: #ffffff;

    border: none;

    border-radius: 10px;

    font-size: 18px;

    cursor: pointer;

    transition: 0.3s;
}


.payment-btn:hover {
    background:
        linear-gradient(
            90deg,
            #ff2635,
            #ff172d
        );

    transform: translateY(-2px);

    box-shadow:
        0 8px 20px
        rgba(255, 38, 53, 0.3);
}


@media (max-width: 768px) {

    .booking-page {
        padding: 30px 15px;
    }


    .booking-container {
        padding: 25px;
    }


    .booking-form {
        grid-template-columns: 1fr;
    }


    .full-width,
    .summary,
    .payment-btn {
        grid-column: 1;
    }

}